/*@import a Google Font here!*/

body {
	background-image:url("../images/background.png");
	
}

}

#container {
		background-color: white;
		float: inherit;


}

.dashed {
	border:3px dashed rgba(70, 254, 255, 1)

}

.left-container, .right-container {
	border: 2px solid purple;
	border-radius: 10px;
	display: inline-block;
	float: top;



}
h1 {
	text-align: center;
	
}